* {
  margin: 0px;
  padding: 0px;
  outline: opx;
}

#pp,
#about {
  display: inline-block;
  vertical-align: bottom;
}
#mainBlock {
  width: 970px;
  height: auto;
  background-color: rgb(41, 11, 11);
}
#pp {
  width: 400px;
  height: 250px;
  margin: 10px;
  border: solid 4px grey;
}
#about {
  width: 518px;
  height: 258px;
  background-color: rgb(204, 193, 193);
  margin: 10px;
  margin-left: 10px;
}

.block {
  width: 300px;
  height: 550px;
  background-color: grey;
  display: inline-block;
  margin: 10px;
  padding-bottom: 10px;

  vertical-align: bottom;
}
.block h3,
#about h3 {
  background-color: rgb(230, 230, 230);
  height: 30px;
}

h1 {
  width: 520px;
  display: inline-block;
  margin-left: 20px;
  background-color: rgb(230, 230, 230);
  font-style: italic;
}

h3 {
  padding-left: 10px;
  padding-top: 5px;
  color: gray;
}
#head {
  width: 350px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 0px;
}
#headdiv {
  background-color: rgb(230, 230, 230);
  width: 970px;
  height: 50px;
}
p {
  margin: 10px;
}

#footer img {
  width: 20px;
  height: 20px;
}
#footer {
  background-color: rgb(230, 230, 230);
  margin: auto;
  width: 970px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  left: 0px;
  height: 60px;
}
.button {
  background-color: teal;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  margin-left: 100px;
}
.tech {
  width: 50px;
  height: 50px;
}
